
.mainContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* padding: 20px; */
}

.subContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
    gap: 5px;
}

.mainCard {
    display: flex;
    flex-direction: column;
    background: #ed143d5c;
    width: 500px;
    align-items: baseline;
    padding: 5px;
    margin: 0 auto;
    gap: 5px;
    text-align: -webkit-auto;
}

.mainCard h3 {
    text-transform: capitalize;
    margin: 0;
}